<html>

<head>
    <meta charset="utf-8" />
    <title>トップページ</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>
        <p>HAL CINEMA</p>
        <img src="images/logo_white.png" alt="ロゴ">
        <span>お住いの地域を選択してください</span>
    </h1>
    <article>
        <a href="/home/today_schedule?cinemaId=2">
            <!-- <img id="nagoya" class="nagoya" src="/images/halnagoya0.jpg" alt="HAL名古屋"> -->
            <div class="blackWindow1"></div>
            <img id="nagoya" class="c_nagoya"src="/images/halnagoya1.jpg" alt="HAL名古屋">
            <h2 class="area h2_nagoya">NAGOYA</h2>
        </a>
        <a href="/home/today_schedule?cinemaId=1">
            <!-- <img id="osaka" class="osaka" src="/images/halosaka0.jpg" alt="HAL大阪"> -->
            <div class="blackWindow2"></div>
            <img id="osaka" class="c_osaka" src="/images/halosaka1.jpg" alt="HAL大阪">
            <h2 class="area h2_osaka">OSAKA</h2>
        </a>
        <a href="/home/today_schedule?cinemaId=0">
            <!-- <img id="tokyo" class="tokyo" src="/images/haltokyo0.jpg" alt="HAL東京"> -->
            <div class="blackWindow3"></div>
            <img id="tokyo" class="c_tokyo" src="/images/haltokyo1.jpg" alt="HAL東京">
            <h2 class="area h2_tokyo">TOKYO</h2>
        </a>
    </article>
</body>

</html>