p#pan2{
    width: 90px;
    font-size: 12px;
    color: #777;
    margin: 50px 0 20px 0;
    cursor: pointer;
}
p#pan2:hover{
    opacity: 0.7;
}

article{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 50px;
    color: #777;
    background-color: #fff;
    box-shadow: 2px 4px 8px #00000029;
    overflow: hidden;
}
    section#top_cont{
        width: 1180px;
        height: 432px;
    }
        div#img img{
            width: 300px;
            height: 432px;
            height: auto;
            float: left;
        }
        div#right_cont{
            width: 850px;
            height: 432px;
            margin-left: 30px;
            float: left;
        }
            div#time{
                width: 120px;
                height: 30px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 2px;

                display: flex;
                justify-content: left;
                align-items: center;
            }
                div#time img{
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            div#title{
                width: 850px;
                margin: 20px 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #ddd;

                display: flex;
                justify-content: space-between;
                align-items: center;
            }    
                div#title h2{
                    width: 520px;
                    height: 68px;
                    line-height: 34px;
                    font-size: 24px;
                }
                div#properties{
                    width: 350px;
                    line-height: 18px;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: right;
                    margin-top: 25px;
                }
            div#week{
                margin: 30px 0;

                display: flex;
                justify-content: start;
            }
                div.date{
                    width: 110px;
                    height: 50px;
                    font-size: 14px;
                    cursor: pointer;
                    border: 0.5px solid #ddd;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                div.date:hover{
                    transition: 0.5s;
                    color: #fff;
                    background-color: #C5767C;
                } 
                div.active{
                    color: #fff;
                    background-color: #C5767C;
                }
                    div.date p{
                        padding: 5px 0;
                        border-bottom: 1px solid #ddd;
                    }
            div#time_schedule{
                width: 850px;
                height: auto;

                display: flex;
                flex-wrap: wrap;
            }
                div.schedule_conts{
                    width: 160px;
                    height: 80px;
                    text-align: center;
                    margin: 0 8px 15px 0;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                }
                    p.time{
                        margin-top: 15px;
                        font-size: 20px;
                    }
                        p.time span{
                            color: #aaa;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    p.reserve_btn, p.end_btn{
                        width: 130px;
                        height: 25px;
                        line-height: 25px;
                        margin: 10px auto 0 auto;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 400;
                        border-radius: 5px;
                    }
                    p.reserve_btn{
                        cursor: pointer;
                        background-color: #7698C5;
                    }
                    p.reserve_btn:hover{
                        transition: 0.5s;
                        opacity: 0.7;
                    }
                    p.end_btn{
                        background-color: #ddd;
                    }
                    
            div#relese_cont{
                font-size: 26px;
                font-weight: 500;
                line-height: 250px;
            }
                span#scheduleMonth,
                span#date{
                    font-size: 40px;
                    color: #7698C5;
                }

    section#bottom_cont{
        width: 1000px;
        height: auto;
        margin: 50px auto;
    }
        div#story, div#cast{
            width: 100%;
            height: auto;
            margin: 0 auto;
            text-align: center;
        }
            h3{
                font-size: 24px;
                margin-bottom: 30px;
            }
            div#story p{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 20px;
            }
        div#cast{
            margin-top: 30px;
        }
            div#cast p{
                font-size: 16px;
                font-weight: 500;
            }
        
    