body {
  background-image: url("../images/hal_nagoya.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

article {
  width: 1280px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.comming_cont {
  box-sizing: border-box;
  width: 600px;
  padding: 15px;
  margin: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
}
.comming_cont img {
  width: 200px;
  float: left;
}
.comming_cont div {
  width: 330px;
  margin: 0 10px 0 30px;
  float: left;
  overflow: hidden;
}
.comming_cont div h2 {
  width: 100%;
  height: 50px;
  color: #c5767c;
  line-height: 50px;
  font-size: 28px;
  border-bottom: 0.5px solid #ddd;
}
.comming_cont div h3 {
  height: 30px;
  line-height: 30px;
  color: #777777;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 10px;
  border-left: 3px solid #7698c5;
}
.comming_cont div p {
  width: 100%;
  height: 145px;
  color: #777;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  margin-top: 15px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}
.comming_cont div a {
  display: block;
  width: 100%;
  color: #7698c5;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  margin-top: 10px;
}
