<!DOCTYPE html>

<html lang="ja">

<head>

	<meta charset="utf-8">

	<title>公開予定映画</title>

	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/relese.css">

</head>

<body>

	<header>
		<div id="halcinema">
			<img src="../images/logo_white.png" alt="ロゴ白">
			<h1>HAL CINEMA</h1>
		</div>
		<button id="pan" onclick="location.href='/'">＜地域選択画面</button>
		<a id="login" href="/users/login">Login</a>
	</header>

	<div id="background"></div>

	<div id="wrap">

		<nav>
			<ul>
				<li class="li_style" onclick="location.href='/home/production_list'">上映映画一覧</li>
				<li class="schedule_style" onclick="location.href='/home/today_schedule'">
					<div id="when">
						<div id="month">05</div>
						<div id="day">15</div>
					</div>
					<div id="schedule">上映スケジュール</div>
				</li>
				<li class="li_style nav_active">公開予定映画</li>
			</ul>
		</nav>



		<article>
			<!-- ここから編集 -->
			<!-- H2タグから使える -->

			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>
			<div class="comming_cont">
				<img src="../images/poster01.png" alt="ポスター">
				<div>
					<h2>2020/06/06(木)</h2>
					<h3>『映画ドラえもん　のび太の月面探査記』</h3>
					<p>
						月面探査機が捉えた白い影がニュースに。のび太はそれを「月のウサギだ！」と主張するが、みんなから笑われてしまう…。そこでドラえもんのひみつ道具＜異説クラブメンバーズバッジ＞を使って月の裏側にウサギ王国を作ることを決めた。
					</p>
					<a href="../production/product_relese.html">詳細を表示＞</a>
				</div>
			</div>

			<!-- ここまでを編集 -->
			<small>&copy; HAL CINEMA 2020.</small>

	</div>



	<footer id="scrollTop" onclick="scrollToTop()">
		<div>
			<img src="../images/arrow.png" alt="ScrollTop">
			<p>Scroll top</p>
		</div>
	</footer>

	<script src="/js/common.js"></script>



</body>

</html>