<!DOCTYPE html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- reset css -->
  <link rel="stylesheet" href="/css/reset.css">
  <!--共有の -->

  <!-- 共通 css -->
  <link rel="stylesheet" href="/css/common.css">
  <!--共有の -->

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <title>映画詳細 production_content</title>

  <!-- ページ内スタイル -->
  <style>
    .product-sec p {
      padding: 12px 0;
    }

    .product-sec h2 {
      padding: 12px 0;
    }

    .content_story {
      margin-bottom: 12px;
      height: 75%;
      overflow-y: scroll;
      line-height: 1.2;
    }

    /* .content_story::-webkit-scrollbar{
        display: none;
      } */
    .content_cast {
      line-height: 1.2;
    }

    /* .content_cast::-webkit-scrollbar{
        display: none;
      } */
    .content_edit {
      background-color: #7698C5;
    }

    .procut_release {
      padding-right: 4px;
      font-size: 2rem;
      font-weight: bold;
    }
  </style>
</head>

<!-- --------------------------body---------------------------------------------------------------------------- -->

<body>

  <!-- ---header -->
  <header>
    <h1>
      <a href="/admin">
        <span class="header-logo">HAL CHINEMA</span>
        <span class="header-address">NAGOYA</span>
      </a>
    </h1>
    <div>
      <img src="/images/menu.png" alt="menu" onclick="menuFadeIn()">
    </div>
  </header>

  <!-- menu -->
  <article class="menu" id="menu">
    <h2>MENU</h2>
    <ul>
      <li><a href="/admin" class="link">ホーム</a></li>
      <li><a href="/admin/mail" class="link">メール作成</a></li>
      <li><a href="/admin/pdf" class="link">データ分析</a></li>
      <li><a href="/admin/production_list" class="link">登録映画一覧</a></li>
      <li><a href="/admin/production_add" class="link">映画追加</a></li>
      <li class="menu-logout">ログアウト</li>
    </ul>
    <img src="/images/menu_close.png" alt="メニュークローズアイコン" class="menu-close" onclick="menuFadeOut()">
  </article>

  <!-- ---main -->
  <main class="production-main">
    <!-- パンくずリスト -->
    <p class="product-pankuzu">
      <a class="link" href="/admin">HOME</a>
      <span class="link-partition">＞</span>
      <a class="link" href="/admin/production_list">登録映画一覧</a>
      <span class="link-partition">＞</span>
      <a class="link" href="/admin/production_content">映画詳細</a>
    </p>

    <article class="product-block">
      <section class="product-sec">
        <p>
          <img src="/images/icon_clock.png" alt="時計アイコン" class="product-clock">
          <span>上映 120分</span>
        </p>
        <h2>心が叫びたがってるんだ</h2>
        <img src="/images/poster/c06.jpg" alt="心が叫びたがってるんだ" class="product-poster">
        <p>レイティング / <span>R15+</span></p>
        <p>監督 / <span>バリー・ウォン、ジェイソン・クワン</span></p>
        <p>
          公開予定日 : 2020年
          <span class="primary-color procut_release">06</span>月
          <span class="primary-color procut_release">06</span>日
        </p>
      </section>


      <section class="product-sec">
        <h2>STORY</h2>
        <!-- テキストエリア入力時の改行反映をとりあえずbrタグで代用 -->
        <p class="content_story">
          「イップ・マン」「ローグ・ワン　スター・ウォーズ・ストーリー」のドニー・イェンと「インファナル・アフェア」「グレートウォール」のアンディ・ラウというアジアの2大スターが共演したクライムドラマ。<br><br>
          1960年代の香港に実在した香港マフィアのボス、ン・シックホーと警察署長ルイ・ロックをモデルに、汚職が蔓延した警察と彼らとつながっていた黒社会との関係を描き出していく。<br><br>
          中国の潮州から仕事を求めて香港にやってきたホーは、ヤクザ同士の争いに参加して警察に逮捕されるが、ホーの腕力に目を付けた警察署長のロックに助けられる。そのことに恩を感じたホーは、黒社会でのしあがっていき、今度はその立場からロックを助けるなど、2人は次第に友情で結ばれていくが……。<br><br>
          主演のドニー・イェン、アンディ・ラウがともに製作も務める。監督は「ゴッド・ギャンブラー」シリーズなどヒット作を多数手がけてきたバリー・ウォンと、「プロジェクト・グーテンベルク　贋札王」「コールド・ウォー　香港警察　堕ちた正義」などの撮影監督を務めてきたジェイソン・クワン。
        </p>
        <h2>CAST</h2>
        <!-- テキストエリア入力時の改行反映をとりあえずbrタグで代用 -->
        <p class="content_cast">
          ドニー・イェン　｜　アンディ・ラウ<br>
          フィリップ・キョン　｜　ケント・チェン
        </p>
      </section>

      <section class="product-button">
        <a href="/admin/production_edit"><button class="content_edit">映画情報編集</button></a>
        <button onclick="modalFadeIn()">この映画を消去</button>
      </section>
    </article>
  </main>

  <!-- modal -->
  <div class="modal-black" id="modal">
    <div class="modal-white">
      <h3>この映画情報を本当に消去しますか？</h3>
      <p><span class="attention-color">※</span>1度消去した映画は復元できません</p>
      <button onclick="modalFadeOut()">戻る</span>
        <button class="modal_submit">消去</button>
    </div>
  </div>


  <!-- ---footer -->
  <footer onclick="scrollToTop()">
    <img src="/images/arrow.png" alt="上矢印アイコン">
    <p>Back top</p>
  </footer>


  <!-- orinal javascript file -->
  <script src="/js/common.js"></script>
</body>

</html>